html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 40px 60px;
}

header {
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;

  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 20px;
}
header nav ul li a {
  color: rgb(0, 153, 0);
  text-decoration: none;
}
