@media all and (max-width: 768px) {
  header {
    font-size: 13px;
  }
  main {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row_articles {
    flex-direction: column;
    align-items: center;
  }
  .article {
    /* width: 60%; */
    margin-bottom: 50px;
  }
  .big_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 67%;
  }
  .big_article .article {
    width: 15em !important;
    height: 16em !important;
  }
  .big_article section.article {
    width: 60%;
  }
  .big_article .article .article_text h3 {
    font-size: 16px;
    vertical-align: top;
  }
  .big_article .article .article_text {
    margin-top: 0px;
  }
  footer {
    flex-direction: column;
  }
}

@media all and (min-width: 769px) and (max-width: 1236px) {
  .big_article .article {
    width: 15em;
    height: 16em;
  }
  .big_article {
    align-self: center;
  }
  .big_article:nth-child(2) {
    margin-top: 0px;
  }
  .big_article:nth-child(1) {
    margin-bottom: 0px;
  }
  .row_articles {
    flex-direction: column;
    align-items: center;
  }
  .big_article .article .article_text h3 {
    font-size: 16px;
    vertical-align: top;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
