@import url('https://use.fontawesome.com/releases/v5.10.2/css/all.css');
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto";
  font-size: 1rem;
  /* font-family: "Anton";
}
html {
  font-size: 14px;
}

@font-face {
  font-family: "Anton";
  src: url("./Anton-Regular.ttf") format("truetype");
}

h1 {
  font-size: 2rem;
  color: rgb(93, 52, 52);
}

section {
  background: rgb(195, 211, 183);
  border-radius: 4px;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  height: 200px;

}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
article{
    overflow:auto;
    white-space: nowrap;
} 
*/

button:hover {
  cursor: pointer;
  background: red;
}

button {
  border: none;
}

input {
  outline: green;
}
