html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: Helvetica, sans-serif;
  background-color: #eeeeee;
}
.site-title {
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 35px;
  padding-bottom: 30px;
}

header,
main {
  width: 75%;
  margin: 20px auto;
}

.quote {
  position: relative;
  float: right;
  width: 50%;
  margin: 20px;
  color: #444444;
  border-left: 5px solid #dedede;
  padding-left: 20px;
}

blockquote {
  float: right;
}

img {
  background-color: white;
  padding: 5px;
  border: 3px solid black;
  position: relative;
  width: 225px;
}
.first-pic {
  float: right;
}
.second-pic {
  float: left;
  margin: 10px;
  margin-top: 0;
}
